* {
  font-family: "Nanum Gothic", sans-serif;
}

.hidden {
  display: none;
}

body {
  margin: 0px;
}

#content {
  color: white;
}

#weather {
  display: inline;

  text-align: right;
  padding: 10px;
  font-size: 10px;
}

#main {
  text-align: center;
  margin-top: 250px;
}

#login-form input {
  width: 400px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: white;
  background-color: transparent;
  color: white;
}

#login-form input::placeholder {
  color: white;
}

#login-form button {
  border: 0px none transparent;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

#todo-list {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding-left: 0px;
}

#todo-list button {
  border: 0px none transparent;
  background-color: transparent;
  cursor: pointer;
}

#todo-form input {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: white;
  background-color: transparent;
  color: white;
}

#todo-form input::placeholder {
  color: white;
}

#clock {
  font-weight: 700px;
  font-size: 100px;

  margin: 10px;
  padding-bottom: 30px;
}

#quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 10px;
  font-size: 14px;
}

#quote span:last-child {
  font-size: 10px;
  margin-top: 5px;
}
